/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
.img-banner{
    width: 375px;
    margin: auto;
}

.border-main{
    border:1px solid blue !important;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .img-banner{
        width: 576px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .img-banner{
        width: 992px;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}
